* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  padding:0;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0;
}
